.tabs ul.nav{
	width:278px;
}

.tabs ul.nav li.tab_nav_4{
	width:55px;
}

#comments ol ul .line{
	margin:-75px 0 0 -111px;
}

#comments ol ul ul ul ul .line{
	margin:-25px 0 0 -281px;
}

#comments ol ul{
	margin:15px 0 0 15px;
}

#comments ol ul ul{
	margin:15px 0 0 15px;
}