body { background-color: #f7f7f7; color: #434343; }
a { color: #c32404; }
a:hover, h1, h2, h3, h4, h5, h6 { color: #000; }

.menu ul li a { color: #737373; }
.menu span, .menu ul li a:hover, .menu ul li a.current, .menu ul li.current_page_item a { color: #fff; }
.menu span a  { color: #fc0;}
.menu span a:hover { color: #fff; } 
input, textarea { border: 1px solid #b0b0b0; }

#header { background: url(style1/bg.jpg) repeat-x top left; }
.dropmenu ul ul { background-color: #000; }
#nav.dropmenu a { color: #fff; }
#nav.dropmenu a:hover { color: #fff; }

#nav.dropmenu ul ul { border-top: 2px solid #000; background-color: #333; }


#searchform { background-color: #2c2925; border: 1px solid #49453f;}
#searchform input#search_input { color: #fff; background-color: #2c2925; }
#searchform input#search_submit { background: url(style1/search.png) no-repeat top left; color: #fff; }

#nav { background: url(style1/nav.jpg) no-repeat top left; }

.post h1 a { color: #242323; }
.post h1 a:hover { color: #000; }
.post { border-bottom: 1px solid #ccc; }
.thumb span { background: url(images/comment.png) no-repeat center left; }
.thumb em { background: url(images/file.png) no-repeat center left; }
.text small { color: #999; background: url(images/line.gif) repeat-x bottom left; }

.sidetab-head { background-color: #a13b16; border-bottom: 1px solid #b0b0b0; }
.sidetab-head a { color: #a5a5a5; }
.sidetab-head li.ui-tabs-selected a { color: #FFF; }
.sidetabdiv li { border-bottom: 1px solid #e1e1e1; }
.sidetabdiv li:hover { background-color: #ebb8a5; }
.sidetabdiv li:hover a img { border: 1px solid #ccc; }
.sidetabdiv a img { border: 1px solid #f7f7f7; background-color: #fff; }
#c2 a { color: #434343; }

#bottom { background: #302e28 url(style1/bottom.jpg) repeat-x top left; }
#sub span a { color: #736b57; }
#sub span a:hover { color: #fff; }

.random .first a img, .fl a img { border: 1px solid #413f38; background-color: #0c0c0b; }
.random a img { border: 1px solid #413f38; background-color: #0c0c0b; }
.random a { color: #a19b8b; }
.random a:hover { color: #fff; }
.random h3 { color: #fff; }

.lite, #all { background: url(images/lite.png) no-repeat top left; }

#footer { background-color: #0c0c0b; }
#footer a:hover { color: #fff; }

.author strong a { color: #000; }

#respond input#submit-comment { background: url(style1/submit.jpg) no-repeat top left; color: #fff; }
#comment_wrap .comment-author { color:#8D8D8D; }
#comment_wrap img { padding: 5px; } 
#comment_wrap .children { border-left: 1px solid #b0b0b0; }

#comment_wrap .children .comment-author { border-top: 1px solid #b0b0b0; }
#respond label { text-transform: uppercase; color: #666; }
#respond, #breadcrumb, code, #comment_wrap .s, #comment_wrap img, .author, #extra, .tabs, .small-ad, .post .thumb a img, .post .thumb img, .widget, ul.search, ul.search li a img { background: #fff url(images/input.jpg) repeat-x top left; border: 1px solid #b0b0b0; }
#comment_wrap .children .s { background-color: #fff; background-image: none; }
a.button { background-color: #de511a; color: #fff; }
a.button:hover { background-color: #000; }

.spe li { border-bottom: 1px solid #b0b0b0; }
ul.search li { clear: both; padding: 10px 20px; border-bottom: 1px solid #b0b0b0; }
ul.search li:hover { background-color: #f7f7f7; }
ul.search li h3 a { color: #333; font-size: 18px; line-height: 20px; }
blockquote { border-left: 2px solid #b0b0b0; background-color: #f1f1f1; }
.text .comm { display: none; }
.text.no .comm { display: inline; }